[Unit]
Description=Lock the screen when lid is closed

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -c 002b36

[Install]
WantedBy=sleep.target
