[Unit]
Description=Lock X session using light-locker for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/light-locker-command --lock

[Install]
WantedBy=sleep.target