$include /etc/inputrc

# Set vi mode
set editing-mode vi
set keymap vi

set show-mode-in-prompt on
# non-blinking block cursor
set vi-cmd-mode-string \1\e[2 q\2
# blinking block cursor
set vi-ins-mode-string \1\e[1 q\2

# Reduce tab completion key presses and show suggestions
set show-all-if-ambiguous on

# Color files by types
set colored-stats On

# Append char to indicate type
set visible-stats On

# Mark symlinked directories
set mark-symlinked-directories On

# Color the common prefix
set colored-completion-prefix On

# Color the common prefix in menu-complete
set menu-complete-display-prefix On
