! General
! =======
Xft.dpi       : 120
Xft.autohint  : true
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintfull
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb

! Cursor
Xcursor.theme : Bibata-Modern-Classic
