! General
! =======
Xft.dpi       : 120
Xft.autohint  : true
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintfull
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb

! Cursor
Xcursor.theme : Bibata-Modern-Classic

! XTerm
! =====

! Basic settings
XTerm*termName           : xterm-256color
XTerm*locale             : true
XTerm*utf8               : true
XTerm*utf8Fonts          : always
XTerm*dynamicColors      : true
XTerm*allowWindowOps     : true

! UI components
XTerm*scrollBar          : false
XTerm*toolBar            : false
XTerm*geometry           : 80x24
XTerm*internalBorder     : 8
XTerm*fullscreen         : never

! Cursor
XTerm*cursorColor        : reverse
XTerm*cursorBlink        : true
XTerm*cursorOffTime      : 300
XTerm*cursorOnTime       : 800
XTerm*cursorUnderLine    : false
XTerm*pointerShape       : XTerm

! Bell
XTerm*bellIsUrgent       : false
XTerm*bellSupressTime    : 100
XTerm*marginBell         : false
XTerm*visualBell         : true

! Text highlighting
XTerm*highlightColor     : XtDefaultForeground
XTerm*highlightReverse   : true
XTerm*highlightSelection : true
XTerm*highlightTextColor : XtDefaultBackground

! Font settings
XTerm*faceName           : Victor Mono:style=Medium
XTerm*faceSize           : 13
XTerm*renderFont         : true
XTerm*boldColors         : false
XTerm*faceSize1          : 6
XTerm*faceSize2          : 8
XTerm*faceSize3          : 10
XTerm*faceSize4          : 14
XTerm*faceSize5          : 20
XTerm*faceSize6          : 24
XTerm*forceBoxChars      : false
XTerm*limitFontsets      : 5
XTerm*scaleHeight        : 1.0

! Scroll and output
XTerm*jumpScroll         : true
XTerm*multiScroll        : true
XTerm*saveLines          : 8192
XTerm*scrollKey          : true
XTerm*scrollTtyKeypress  : true
XTerm*scrollTtyOutput    : false

! Backspace behaviour
XTerm*backarrowKey       : false
XTerm*metaSendsEscape    : true
XTerm*ttyModes           : erase ^?

! Key bindings
XTerm*selectToClipboard  : true
XTerm*omitTranslation    : popup-menu
XTerm*translations       : #override \n\
    Ctrl Shift <Key>C    : copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V    : insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus     : smaller-vt-font() \n\
    Ctrl <Key> plus      : larger-vt-font() \n\
    Ctrl <Key> 0         : set-vt-font(d)

! Theme: modus-operandi
! Description: XTerm port of modus-operandi (Modus themes for Emacs)
! Author: Protesilaos Stavrou, <https://protesilaos.com>
XTerm*background         : #FFFFFF
XTerm*foreground         : #000000
XTerm*color0             : #000000
XTerm*color1             : #A60000
XTerm*color2             : #005E00
XTerm*color3             : #813E00
XTerm*color4             : #0031A9
XTerm*color5             : #721045
XTerm*color6             : #00538B
XTerm*color7             : #BFBFBF
XTerm*color8             : #595959
XTerm*color9             : #972500
XTerm*color10            : #315B00
XTerm*color11            : #70480F
XTerm*color12            : #2544BB
XTerm*color13            : #5317AC
XTerm*color14            : #005A5F
XTerm*color15            : #FFFFFF

! termbar
termbar*faceName           : Liberation Mono:style=Regular
termbar*faceSize           : 11
termbar*foreground         : #F8F8F2
termbar*background         : #282A36
termbar*geometry           : 174x1+0+0
termbar*title              : termbar
termbar*termName           : termbar
termbar*internalBorder     : 6
termbar*borderWidth        : 0
termbar*saveLines          : 0
termbar*scrollBar          : false
termbar*pointerShape       : left_ptr
termbar*highlightSelection : true

! Dracula Xresources palette
termbar*foreground: #F8F8F2
termbar*background: #282A36
termbar*color0:     #000000
termbar*color8:     #4D4D4D
termbar*color1:     #FF5555
termbar*color9:     #FF6E67
termbar*color2:     #50FA7B
termbar*color10:    #5AF78E
termbar*color3:     #F1FA8C
termbar*color11:    #F4F99D
termbar*color4:     #BD93F9
termbar*color12:    #CAA9FA
termbar*color5:     #FF79C6
termbar*color13:    #FF92D0
termbar*color6:     #8BE9FD
termbar*color14:    #9AEDFE
termbar*color7:     #BFBFBF
termbar*color15:    #E6E6E6
