[Desktop Entry]
Type=Application
Name=ranger
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=false
Exec=xterm -class Ranger -name XTerm -e ranger
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
