! General
Xft.dpi       : 132
Xft.autohint  : true
Xft.lcdfilter : lcddefault
Xft.hintstyle : hintfull
Xft.hinting   : true
Xft.antialias : true
Xft.rgba      : rgb

! Cursor
!Xcursor.theme:  Bibata_Ice

! XTerm
XTerm*utf8               : true
XTerm*termName           : xterm-256color
XTerm*colorBDMode        : true
XTerm*cursorBlink        : false
XTerm*scrollBar          : false
XTerm*selectToClipboard  : true
XTerm*omitTranslation    : popup-menu
XTerm*saveLines          : 4096
XTerm*translations       : #override \n\
    Ctrl Shift <Key>C    : copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V    : insert-selection(CLIPBOARD) \n\
    Ctrl <Key> minus     : smaller-vt-font() \n\
    Ctrl <Key> plus      : larger-vt-font() \n\
    Ctrl <Key> 0         : set-vt-font(d) 

!XTerm*faceName  : JetBrains Mono 
XTerm*faceName  : JetBrainsMono NF
XTerm*faceSize  : 12
XTerm*faceSize1 : 6
XTerm*faceSize2 : 8
XTerm*faceSize3 : 10
XTerm*faceSize4 : 14
XTerm*faceSize5 : 20
XTerm*faceSize6 : 24

! tango light
*.background  : #ffffff
*.foreground  : #000000
*.cursorColor : #000000
*.color0      : #000000
*.color8      : #545753
*.color1      : #cc0000
*.color9      : #ef2828
*.color2      : #4e9a05
*.color10     : #8ae234
*.color3      : #c4a000
*.color11     : #fce94e
*.color4      : #3464a4
*.color12     : #719ecf
*.color5      : #74507a
*.color13     : #ad7ea7
*.color6      : #05989a
*.color14     : #34e2e2
*.color7      : #d3d7cf
*.color15     : #ededec
